body {
	font-size: 14px;
	line-height: 26px;
	
	/*background-image: url(../index.png);
	background-repeat: no-repeat;*/
}

h2 {
	font-size: 21px;
	line-height: 26px;
}

h3 {
	font-size: 21px;
	line-height: 21px;
}
.header-nav li {
	display: inline
}
.center	{
	width: 1200px;
	margin: 0 auto;
	outline: 5px solid red;
}

.header-nav	{
	font-variant: small-caps;
	width: 1055px;
	text-align: center;
	padding-left: 72px;
	padding-right: 72px;
	outline: 2px solid blue;
}

.intro {
	width: 1200px;
	
	background-image: url("../img/background.jpg");	
	background-repeat: no-repeat;
	outline: 3px solid #ff6204;		
}

.content	{
	outline: 2px solid blue;	
}

.content-main	{
	outline: 3px solid #ff6204;		
}

.content-title	{
	width: 575px;
	padding-top: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin: auto;
	text-align: center;
}

.content-pic	{
	width: 100%;
}

.content-text	{
	width: 400px;
	padding: auto;

	min-height: 255px;
	margin-top: 40px;
	text-align: center;
	vertical-align: middle;
	outline: 2px solid green;
	
}

.content-image	{
	width: 800px;
	margin-top: 40px;
	height: 255px;
	outline: 2px solid #ffe400;	
}

.content-hotels{
	outline: 3px solid #ff6204;
}

.content-hotel-search	{
	text-align: center;
}

.hotels-map	{
	outline: 2px solid blue;	
}

footer {
	width: 1200px;
	
}
.footer-sedona	{
	width: 400px;
	outline: 2px solid blue;
	float: left;
}

.footer-social	{
	width: 400px;
	outline: 2px solid blue;
	float: left;
}

.footer-copyright	{
	width: 400px;
	outline: 2px solid blue;	
	float: left;
}

.bg-social	{
	background-color: #81b3d2;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.to-left	{
	float: left;
}

.to-right	{
	float: right;
}

.bg-blue	{
	background-color: #81b3d2;
	color: #ddebf3;
}

.content-text p {
	color: #333333;
}

/*Страница отелей*/
.search	{
	background-image: url(../img/background_hotels.jpg);
	outline: 2px solid blue;	
}
.search-options	{
	width: 225px;
	outline: 2px solid blue;	
}

.search-type	{
	padding-left: 15px;
	outline: 2px solid blue;	
}

.search-price	{
	width: 327px;
	outline: 2px solid blue;
}

.results	{
	outline: 2px solid blue;
}

.results-head	{
	
	outline: 2px solid blue;
}

.result-item	{

outline: 2px solid blue;

}

.result-text-pic	{
	width: 527px;
	outline: 2px solid blue;
}

.result-stars-rating	{
	width: 240px;
	outline: 2px solid blue;
}

.result-text-pic	{
}

.result-info	{
}